html, body {
    margin: 0;
    padding: 0;
  }  
  
#header-section {
    padding: 0px 20px;
    background-color: #0B132B;
    color: #ffff;
    font-family: system-ui;
} 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
    margin: 20px;
}

#hero-section {
    background-color: #0B132B;
    padding: 20px 20px 60px 20px;
    color: #ffff;
    font-family: system-ui;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
}

button {
    background-color: #5BC0BE;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#box-section {
    padding: 30px;
    height: auto;
}

.heading {
    color: #0B132B;
    text-align: center;
    font-family: system-ui;
    font-size: 30px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-box {
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    color: #2B2B2B;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow .3s;
}

.flex-box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.box-text{
    font-family: system-ui;
    font-size: 20px;
    text-align: center;
}

#quote-section {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    background: #F5F5F5;
    height: 250px;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-size: 25px;
    color: #0B132B;
}

.hero-image {
    width: 300px;
}

.hero-header {
  margin: 0;
}

.hero-text {
    font-size: 20px;
    max-width: 500px;
}

#cta-section {
    display: flex;
    justify-content: center;
}

.cta-container {
    background: #8aa3ed;
    display: flex;
    justify-content: space-around;
    margin: 75px 0;
    padding: 35px 60px 35px 60px;
    width: 1000px;
    align-items: center;
}

.cta-button {
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #8aa3ed;
}

.footer {
    background: #232324;
    padding: 1px;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: system-ui;
}

.cta-text {
    font-size: 24px;
    color: #ffff;
    font-family: system-ui;
    max-width: 600px;
}