html, body {
    margin: 0;
    padding: 0;
  }  
  
#header-section {
    padding: 0px 20px;
    background-color: #0B132B;
    color: #ffff;
    font-family: system-ui;
} 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
    margin: 20px;
}

#hero-section {
    background-color: #0B132B;
    padding: 20px 20px 60px 20px;
    color: #ffff;
    font-family: system-ui;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
}

button {
    background-color: #5BC0BE;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#box-section {
    padding: 30px;
    height: auto;
}

.heading {
    color: #0B132B;
    text-align: center;
    font-family: system-ui;
    font-size: 30px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.flex-box {
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    color: #2B2B2B;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.box-text{
    font-family: system-ui;
    font-size: 20px;
    text-align: center;
}

#quote-section {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    background: #F5F5F5;	
    height: 250px;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-size: 25px;
    color: #0B132B;

.hero-image {
    width: 300px;
}

.hero-header {
  margin: 0;
}

.hero-text {
    font-size: 20px;
    max-width: 500px;
}