html, body {
    margin: 0;
    padding: 0;
  }  
  
#header-section {
    padding: 0px 20px;
    background-color: #4E598C;
    color: #ffff;
    font-family: system-ui;
} 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
    margin: 20px;
}

#hero-section {
    background-color: #4E598C;
    padding: 20px;
    color: #ffff;
    font-family: system-ui;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

button {
    background-color: #FF8C42;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}