html, body {
    margin: 0;
    padding: 0;
  }  
  
#header-section {
    padding: 0px 20px;
    background-color: #4E598C;
    color: #ffff;
    font-family: system-ui;
} 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
    margin: 20px;
}

#hero-section {
    background-color: #4E598C;
    padding: 20px;
    color: #ffff;
    font-family: system-ui;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

button {
    background-color: #FF8C42;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.heading {
    color: #4E598C;
    text-align: center;
    font-family: system-ui;
    font-size: 30px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-box {
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 300px;
    background-color: #ffffff;
    color: #2B2B2B;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}