html, body {
    margin: 0;
    padding: 0;
  }  
  
#header-section {
    padding: 0px 20px;
    background-color: #39393A;
    color: #ffff;
    font-family: system-ui;
} 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
    margin: 20px;
}

